@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
font-family: Raleway, Arial, sans-serif;

color: rgb(153, 169, 217);
padding: 20px;
background-color: rgb(3,37,57);
}

a {
    color: rgb(28, 118, 143); /* Set the desired color for unvisited links (blue in this case) */
    text-decoration: none;
}

h1 { /*Page titles*/
    font-size: 50pt;
    font-family:Josefin Sans, sans-serif  ; 
    color:rgb(28, 118, 143); 
   /* background-color:rgb(250, 203, 132); */
    -webkit-text-stroke-width: 0.1px;
    border-radius: 100px;
}

h2 { /*body text (the smaller one)*/
    font-size: 25pt;
    font-family:Raleway, Arial, sans-serif  ; 
    color:rgb(224, 183, 138); 
    -webkit-text-stroke-width: 0.1px;
    padding: 20px;
    margin: 16px;
    border-radius: 10px;
}

h3 { /*links & buttons*/
    font-size: 40pt;
    font-family:Josefin Sans, Arial, sans-serif  ; 
    color:brown;
    /*background-color:rgb(250, 203, 132) ;  */
    -webkit-text-stroke-width: 0.1px;
    border-radius: 100px;
}

h4 { /**/
    font-size: 25pt;
    font-family:Raleway, Arial, sans-serif  ; 
    color:rgb(224, 183, 138); 
    -webkit-text-stroke-width: 0.1px;
    padding: 20px;
    margin: 16px;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    h1 {
        -webkit-text-fill-color:black; 
        font-size: 18pt; 
        -webkit-text-stroke-width:0px;
    }

    h2 {
        -webkit-text-fill-color:black; 
        font-size: 14pt;
        -webkit-text-stroke-width:0px;
    }
}